@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --azulclaro: #48D6ED;
    --azuloscuro: #337AB7;
    --azulnegro: #303342;
    --negro: #333333;
    --negro2: #000;
    --gris: #B2B3B3;
    --fondo: #FFFEFC;
    --verdeazul: #157A8A;
    --Magenta: #9C2759;
    --blanco: #fff;
    --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}

* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Marcellus', serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--negro);
    font-family: 'Marcellus', serif;
    font-size: 1.3em;
    padding: 1rem;
}

.item {
    padding: 1rem;

}

nav a {
    color: var(--blanco);
    text-decoration: none;
    border-radius: 5px;
}

nav a i {
    color: var(--blanco);
    text-decoration: none;
    border-radius: 5px;
}

nav a:hover {
    color: var(--blanco);
    text-decoration: none;
    background-color: var(--azuloscuro);
}

.logo img {
    height: 3rem;
}

.features-title {
    background-color: rgba(0, 0, 0, 0.35);
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5em;
}

.features-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature {
    height: 162px;
    width: 30%;
    min-width: 130px;
    max-width: 230px;
    margin: 6.6rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}


.feature i {
    font-size: 2.2em;
    margin-bottom: 1.5rem;
}

.feature-blue {
    background-color: #00325eae;
}

.feature-black {
    background-color: rgba(0, 0, 0, 0.59);
}

#features {
    background: url(../img/bg-features.png);
    color: white;
    padding-top: 1rem;
}

#fondo {

    display: flex;
    align-items: flex-end;
    background: url(../img/slide1.jpg);
    color: white;
    padding-top: 1rem;
    height: 780px;

}

.fondo-title {
    padding: 2%;
    font-family: marcellus;
    text-align: left;
    font-size: 76px;
    /* background-color: rgba(0,0,0,0.35); */
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0001));

}

#imagen {
    display: flex;
    justify-content: flex-end;
}

.fondo {
    display: flex;
    flex-direction: column-reverse;
    width: 30%;
    margin-left: 68rem;
    margin-top: -15rem;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 18rem;
    margin-right: 57rem;
    margin-bottom: 4rem;
    font-family: roboto;
    font-size: 10px;
}


.direccion {
    border-bottom: 3px solid;
    border-image: linear-gradient(to left, #337AB7 0%, #337AB7 100%) 1;
    margin-bottom: 10%;
}

/*contenido*/

.par {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
    margin-left: 17rem;
    margin-right: 57rem;
    margin-bottom: 6rem;
    font-family: Roboto;
    font-size: 20px;
}

.imagen2 {
    display: flex;
    flex-direction: column-reverse;
    width: 12%;
    margin-left: 75rem;
    margin-top: -21rem;
    margin-bottom: 4rem;

}

.map {
    width: 97%;
    margin-left: 2em;
    height: 300px;
    display: flex;
    justify-content: center;
}

.ubi {
    font-size: 50px;
    font-family: PlayFar;
    display: flex;
    justify-content: center;

    padding-bottom: 1%;
}

.dir {
    font-size: 40px;
    font-family: PlayFar;
    display: flex;
    justify-content: center;
}

.numero {
    font-size: 40px;
    margin-top: -8%;
    font-family: PlayFar;
    display: flex;
    justify-content: center;
}

/*contenido*/


/* COMENTARIOS */

.opinionesconte {
    display: flex;
    justify-content: space-around;
    background: var(--negro2);
}

.opiniones {

    background-image: url(../img/Group\ 200.svg);
    background-repeat: no-repeat;
    width: 350px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 1%;
    margin: 55px;
    border-radius: 5px;
    background: var(--degradado);
}

.imagen {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 40px;
}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: center;
}

.perfil {
    display: flex;
    align-items: center;
}

.nameuser {
    font-family: 'Marcellus', serif;
    display: flex;
    flex-direction: column;
}

.nameuser strong {
    color: white;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.stars {
    color: white;
    margin-left: 90px;
    margin-bottom: 30px;
}

.comentarios {
    color: white;
}

/* COMENTARIOS */


/*:::::Pie de Pagina*/
.pie-pagina {
    width: 100%;
    background-color: #000;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    color: #fff;
    text-align: center;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
}

@media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

/* * {
    border: solid red 0.5px;
} */