@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --azulclaro: #48d6ed;
  --azuloscuro: #337ab7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #b2b3b3;
  --fondo: #fffefc;
  --verdeazul: #157a8a;
  --Magenta: #9c2759;
  --blanco: #fff;

  --degradado: linear-gradient(49.54deg, #337ab7 2.89%, #0b3860 80.34%);
}

* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Marcellus", serif;
}

#menu {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 320px) {
  .menudesplegable:checked ~ .menu {
    background-color: #0b3860f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.6s ease;
    position: absolute;
    width: 100%;
    height: 12em;
  }

  

  .menu-hr {
    width: 90%;
    border-color: var(--blanco);
  }

  .navbar-button {
    background-color: transparent;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    padding: 0.5rem;
    font-family: "Marcellus", serif;
    color: var(--blanco);
  }

  .menu {
    display: none;
  }

  .menu-hr {
    width: 90%;
    border-color: var(--blanco);
  }

  .logo {
    background-color: var(--negro2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .logo img {
    width: 40%;
    max-width: 200px;
  }

  .logo i {
    color: var(--blanco);
    font-size: 2rem;
  }

  nav {
    top: 0;
    font-family: "Marcellus", serif;
    font-size: 1.3em;
    padding: 0%;
    z-index: 3;
  }

  nav a {
    color: var(--blanco);
    text-decoration: none;
    text-align: center;
    padding: 0.5em;

  }

  nav a:hover {
    color: var(--blanco);
    text-decoration: none;
    background-color: var(--azuloscuro);
    border-radius: 5px;
  }

  .navbar-button {
    border: none;
    border-radius: 5px;
    font-size: 1em;
    padding: 0.5rem;
    font-family: "Marcellus", serif;
    color: var(--blanco);
  }

  .information-section {
    display: flex;
  }

  .information-zone {
    padding: 1em;
  }

  .information-image img {
    display: none;
  }

  #features {
    background: url(../img/bg-features.png);
    color: var(--blanco);
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .features-title {
    background-color: rgba(0, 0, 0, 0.35);
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5em;
  }

  .features-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .feature {
    width: 25%;
    min-width: 180px;
    max-width: 230px;
    margin: 0.8rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }

  .feature i {
    font-size: 2.2em;
    margin-bottom: 1.5rem;
  }

  .feature-blue {
    background-color: #00325eae;
  }

  .feature-black {
    background-color: rgba(0, 0, 0, 0.59);
  }

  #container-location {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    text-align: center;
  }

  #fondo {
    display: flex;
    align-items: flex-end;
    background-image: url(../img/slide1.jpg);
    background-size: cover;
    color: white;
    padding-top: 1rem;
    height: 10em;
    width: auto;
  }

  .fondo-title {
    padding: 2%;
    font-family: marcellus;
    text-align: left;
    font-size: 20px;
    width: 100%;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.0001)
    );
  }

  .fondo {
    display: flex;
    flex-direction: column-reverse;
    width: 30%;
    margin-left: 68rem;
    margin-top: -15rem;
  }

  .location-tittle {
    color: var(--negro2);
    font-size: 2em;
    text-align: center;
  }

  .cont-maps {
    width: 100%;
    height: 20em;
  }

  .location-zone {
    display: flex;
    font-family: "Marcellus", serif;
    font-size: 1.5em;
    justify-content: center;
    line-height: 1em;
    flex-direction: column;
    padding-top: 1em;
  }

  .split-line {
    width: 70%;
    border-color: var(--azuloscuro);
    margin-left: 15%;
    /* width: 50%;
    border-color: var(--azuloscuro);
    text-align: center;
    margin-left: 25%; */
  }

  .cards-text {
    font-family: "Marcellus", serif;
    display: flex;
    color: var(--blanco);
    justify-content: center;
    font-size: 1em;
    background-color: var(--negro2);
    padding-bottom: 7%;
    padding-top: 2%;
  }

  .cards-container {
    position: relative;
    width: 90%;
    gap: 20px;
    display: flex;
    margin-top: -6%;
    margin-bottom: 5%;
    left: 3%;
    overflow: auto;
    padding: 8px;
  }

  .cards-profile {
    padding: 3%;
    background-image: url(../img/Group\ 200.svg);
    background-size: cover;
    border-radius: 5px;
    height: auto;
  }

  .container-name {
    color: var(--blanco);
    display: flex;
    font-family: "Marcellus", serif;
    flex-direction: row;
    width: 20em;
  }

  .cards-name img {
    width: 22%;
    color: var(--blanco);
    margin-left: -75%;
    border-radius: 50%;
  }

  .cards-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .cards-description {
    color: var(--blanco);
  }

  .icon {
    padding: 1%;
    font-size: 150%;
  }

  .icon-color {
    color: var(--Magenta);
    font-size: 150%;
    padding: 1%;
  }

  .lines {
    cursor: pointer;
    height: 10px;
    width: 55px;
    margin: 0 2px;
    background-color: var(--negro2);
    display: inline-block;
    transition: 0.6s ease;
    border-radius: 1px;
  }

  .footer-section {
    display: flex;
    margin-top: 2em;
    background-color: var(--negro2);
    align-items: center;
    flex-direction: column;
    width: auto;
    height: 20%;
    padding: 15px;
    font-family: "Marcellus", serif;
  }

  .footer-section section {
    width: 100%;
    color: var(--blanco);
    padding: 0 10px;
  }

  .split-lines {
    width: 380px;
    left: 0;
    display: flex;
    border-color: var(--blanco);
    background-color: var(--blanco);
  }

  .icons_mobile {
    display: flex;
  }

  .icons_mobile i {
    padding: 1em;
    font-size: 150%;
  }

  .icons {
    display: none;
  }

  .footer-section section p {
    padding: 1em;
    font-size: 120%;
  }
  .footer-direction {
    padding: 1em;
    font-size: 120%;
  }

  .footer-cellphone {
    padding: 1em;
    font-size: 120%;
  }

  .footer-policies {
    display: flex;
    padding: 1em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

/**-------------------------------------------------------------*/
@media screen and (min-width: 1024px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--negro2);
    font-family: "Marcellus", serif;
    font-size: 1.3em;
    padding: 1rem;
  }

  .logo {
    padding: 1rem;
  }

  .logo img {
    width: 100%;
    max-width: 180px;
  }

  .logo i {
    display: none;
  }

  .menu {
    background-color: var(--negro2);
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .menu-hr {
    display: none;
  }

  .navbar-button {
    background-color: var(--azuloscuro);
  }

  #fondo {
    display: flex;
    align-items: flex-end;
    background-image: url(../img/slide1.jpg);
    background-size: cover;
    color: white;
    padding-top: 1rem;
    height: 38em;
    width: auto;
  }

  .fondo-title {
    padding: 2%;
    font-family: marcellus;
    text-align: left;
    font-size: 50px;

    width: 100%;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.0001)
    );
  }

  .fondo {
    display: flex;
    flex-direction: column-reverse;
    width: 30%;
    margin-left: 68rem;
    margin-top: -15rem;
  }

  #information-section {
    display: flex;
    padding: 2em;
    justify-content: center;
    align-items: center;
  }

  .information-zone {
    width: 36em;
    align-self: center;
    font-size: 1.5em;
  }

  .information-image img {
    display: flex;
    align-items: center;
    width: 240px;
    height: 240px;
  }

  .container-location {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    text-align: center;
  }

  .location-tittle {
    color: var(--negro2);
    font-size: 3em;
    padding: 1em;
  }

  .cont-maps {
    width: 100%;
    height: 35em;
  }

  .location-zone {
    display: flex;
    font-family: "Marcellus", serif;
    font-size: 2em;
    justify-content: center;
    line-height: 2em;
    flex-direction: column;
  }

  .split-line {
    width: 70%;
    border-color: var(--azuloscuro);
    margin-left: 15%;
  }

  .cards-text {
    font-family: "Marcellus", serif;
    display: flex;
    color: var(--blanco);
    justify-content: center;
    font-size: 2.1em;
    background-color: var(--negro2);
    padding-bottom: 7%;
    padding-top: 2%;
  }

  .cards-container {
    position: relative;
    width: 95%;
    display: flex;
    justify-content: space-around;
    gap: 1em;
    flex-direction: row;
    margin-top: -4.5%;
    margin-bottom: 5%;
    left: 3%;
    background-color: var(--degradado);
  }

  .cards-profile {
    width: 25%;
    padding: 2%;
    background-image: url(../img/Group\ 200.svg);
    background-size: cover;
    border-radius: 5px;
    height: auto;
  }

  .container-name {
    color: var(--blanco);
    font-family: "Marcellus", serif;
  }

  .cards-name {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 5px;
  }

  .cards-name img {
    width: 22%;
    color: var(--blanco);
    margin-left: -75%;
    border-radius: 50%;
  }

  .cards-description {
    color: var(--blanco);
  }

  .icon {
    padding: 1%;
    font-size: 150%;
  }

  .icon-color {
    color: var(--Magenta);
    font-size: 150%;
    padding: 1%;
  }

  .footer-section {
    display: flex;
    margin-top: 2em;
    background-color: var(--negro2);
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row;
    width: auto;
    height: auto;
    padding: 20px;
  }

  .footer-section section {
    width: 50%;
    color: var(--blanco);
    justify-content: space-around;
  }

  .split-lines {
    display: none;
  }

  .icons {
    display: flex;
  }

  .icons i {
    padding: 1em;
    font-size: 150%;
  }

  .icons_mobile {
    display: none;
  }
  .footer-direction {
    display: flex;
    flex-direction: row;
    padding: 1em 0;
  }

  .footer-policies {
    /* padding: 1em; */
    justify-content: flex-end;
    flex-direction: column;
  }
}

/* * {
  border: solid red 1px;
} */
