@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --azulclaro: #48d6ed;
  --azuloscuro: #337ab7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #b2b3b3;
  --fondo: #fffefc;
  --verdeazul: #157a8a;
  --Magenta: #9c2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337ab7 2.89%, #0b3860 80.34%);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-image: url(../img/lin-leyu-cIRFLobYPkY-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 320px) {
  nav {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: var(--azulnegro);
    width: 250px;
  }

  .logo img {
    width: 4rem;
    margin-top: 14px;
    margin-left: -2em;
  }

  .nav-title {
    color: var(--blanco);
    font-size: 50px;
    margin-top: -55px;
    margin-left: 0.8em;
    font-family: "Marcellus", serif;
  }

  .container-image {
    position: relative;
    width: 20.8 em;
    height: 14.5em;
    top: -15px;
    background-image: url(../img/Group\ 200.svg);
    background-size: cover;
  }

  .logo {
    position: relative;
    top: 10%;
    left: 20%;
  }

  .name-user {
    position: relative;
    color: var(--blanco);
    padding-top: 70px;
    left: 18px;
    font-size: 23px;
    font-family: "Roboto", sans-serif;
  }

  .gmail-user {
    font-size: 13px;
  }

  .icon {
    color: var(--blanco);
  }

  .img-person {
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
  }

  .img-person img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

  .img-person span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
  }

  a {
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 220px;
    padding: 10px;
  }

  .fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
  }

  .nav-item {
    position: relative;
    top: 12px;

    margin-left: 10px;
    color: var(--blanco);
    font-size: 20px;
    font-family: "Playfair Display", serif;
  }

  a:hover {
    background: var(--azuloscuro);
  }

  .logout {
    position: absolute;
    bottom: 0;
  }

  .container {
    width: 50em;
    height: 31em;
    background-color: rgba(245, 241, 241, 0.59);
    font-size: 29px;
    top: 35px;
    left: 10em;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    font-family: "Marcellus", serif;
    overflow: hidden;
  }

  .mini-container {
    position: relative;
    top: 20px;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
  }

  article img {
    position: relative;
    top: 80px;
    left: 60px;
    display: flex;
    height: 220px;
    width: 200px;
    float: left;
  }

  .download {
    display: flex;
    position: absolute;
    width: 200px;
    height: 2em;
    top: 10.8em;
    left: 2.1em;
    background: var(--azuloscuro);
  }

  .download i {
    color: var(--blanco);
    margin-left: 40px;
    padding-top: 3.5px;
    font-size: 50px;
  }

  article h2 {
    position: relative;
    left: 150px;
  }

  input {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
  }

  .type-document {
    position: relative;
    left: 120px;
    top: 20px;
  }

  .num-document {
    position: relative;
    left: 450px;
    top: -95px;
  }

  .name {
    position: relative;
    left: 180px;
    top: -90px;
  }

  .lastname {
    position: relative;
    left: 180px;
    top: -90px;
  }

  .date-birth {
    position: relative;
    left: 180px;
    top: -85px;
  }

  .pais {
    position: relative;
    left: 750px;
    top: -265px;
  }

  .form-check {
    display: flex;
    position: relative;
    left: 300px;
    top: -250px;
  }

  .checks {
    margin-left: -3em;
    display: flex;
    gap: 20px;
  }

  .num-cel {
    position: relative;
    left: 750px;
    top: -360px;
  }

  .email {
    position: relative;
    left: 300px;
    top: -370px;
  }

  button {
    background: var(--negro);
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    width: 20%;
  }

  .update {
    background: var(--negro);
    border-radius: 5px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    width: 15%;
    height: 50px;
    position: relative;
    left: 300px;
    top: -370px;
  }

  .password {
    position: relative;
    left: 450px;
    top: -340px;
  }

  .confirme-password {
    position: relative;
    left: 62.5%;
    top: -438px;
  }

  .cambiar {
    background: var(--negro);
    border-radius: 5px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    width: 15%;
    height: 50px;
    position: relative;
    left: 450px;
    top: -465px;
  }

  .Update-password {
    font-family: "Marcellus", serif;
    background: var(--negro);
    border-radius: 5px;
    border: none;
    color: white;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px;
    cursor: pointer;
    width: 200px;
    position: relative;
    left: -5.7em;
    top: -26.5em;
  }
}
