@import url(&#39;https://fonts.googleapis.com/css2?family=Marcellus&amp;family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap&#39;);

:root {
  --azulclaro: #48d6ed;
  --azuloscuro: #337ab7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000000;
  --gris1: #262626;
  --gris: #b2b3b3;
  --fondo: #fffefc;
  --verdeazul: #157a8a;
  --Magenta: #9c2759;
  --blanco: #ffffff;
  --degradado: linear-gradient(49.54deg, #337ab7 2.89%, #0b3860 80.34%);
}

* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-image: url(../img/wallhaven-nm9vkm_1280x720.png);
  background-size: cover;
  /* background-repeat: no-repeat; */
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Marcellus", serif;
}

@media screen and (min-width: 320px) {

  
  .container-form {
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 350px;
    align-items: center;
    margin: auto;
    margin-top: 150px;
    background-color: rgba(51, 122, 183, 0.85);
    border-radius: 5px;
    font-size: 18px;
    /* justify-content: center; */
  }

  .container-form .svg {
    width: 100%;
  }

  .image {
    margin-top: -130px;
    padding: 20px;
    display: flex;
    float: left;
    margin-right: 50%;
    width: 200px;
  }

  .icons {
    text-decoration: none;
    font-size: 30px;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background-color: var(--Magenta);
    color: var(--blanco);
    border-radius: 50%;
  }

  .input {
    float: inline-start;
    height: 30px;
    width: 65%;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--blanco);
    color: var(--blanco);
  }

  .container-form span {
    width: 65%;
    margin-top: 20px;
  }

  button {
    margin-top: 45px;
    width: 65%;
    height: 30px;
    background-color: var(--negro2);
    color: var(--blanco);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: none;
  }

  button:hover {
    margin-top: 45px;
    width: 65%;
    height: 30px;
    background-color: var(--gris1);
    color: var(--blanco);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }

  button a:hover {
    margin-top: 45px;
    width: 65%;
    height: 30px;
    color: var(--blanco);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: none;
  }

  .container-form p {
    color: var(--blanco);
    margin-top: 10px;
    font-size: 14px;
  }

  .container-form p a {
    color: var(--negro2);
    margin-top: 10px;
    font-size: 14px;
  }

  .color-message {
    color: var(--negro2);
    text-decoration: none;
  }

  a {
    color: var(--blanco);
    text-decoration: none;
  }
}

@media screen and (min-width: 1024px) {
  .container-form {
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    background-color: rgba(51, 122, 183, 0.85);
    border-radius: 5px;
    font-size: 18px;
  }

  .container-form .svg {
    width: auto;
  }

  .image {
    margin-top: -130px;
    padding: 20px;
    display: flex;
    float: left;
    margin-right: 50%;
    width: 200px;
  }

  .icons {
    text-decoration: none;
    font-size: 30px;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background-color: var(--Magenta);
    color: var(--blanco);
    border-radius: 50%;
  }

  .input {
    float: inline-start;
    height: 30px;
    width: 65%;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--blanco);
    color: var(--blanco);
  }

  .container-form span {
    width: 65%;
    margin-top: 20px;
  }

  button {
    margin-top: 45px;
    width: 65%;
    height: 30px;
    background-color: var(--negro2);
    color: var(--blanco);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: none;
  }

  button:hover {
    margin-top: 45px;
    width: 65%;
    height: 30px;
    background-color: var(--gris1);
    color: var(--blanco);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }

  button a:hover {
    margin-top: 45px;
    width: 65%;
    height: 30px;
    color: var(--blanco);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
  }

  .container-form p {
    color: var(--blanco);
    margin-top: 10px;
    font-size: 14px;
  }

  .container-form p a {
    color: var(--negro2);
    margin-top: 10px;
    font-size: 14px;
  }

  .color-message {
    color: var(--negro2);
    text-decoration: none;
  }

  a {
    color: var(--blanco);
    text-decoration: none;
  }
}
